# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Frontend build files
/dist
/build
/vite

# Backend environment files
*.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-workspace
